---
import Section from "../Section.astro";
---

<Section>
  <div>
    <button
      onclick="window.location.href = '/en'"
      aria-label="Cambiar a inglés"
    >
      <img
        src="/eeuu-flag.webp"
        alt="Bandera de estados unidos"
        width="36"
        height="36"
      />
    </button>

    <button onclick="window.location.href = '/'" aria-label="Cambiar a español">
      <img
        src="/españa-flag.webp"
        alt="Bandera de españa"
        width="36"
        height="36"
      />
    </button>
  </div>
</Section>
